<div class="page-describe">
    <%=_p('counter.tags',site.tags.length)%>
</div>
<div class="tags-contain">
    <%site.tags.data.forEach(function(element) {%>
        <div class="mdui-chip tags-chip">
            <%if(theme.tag_page_count==true){%>
                <span class="mdui-chip-icon"><%=element.length%></span>
            <%}%>
            <a class="mdui-chip-title" href="<%-url_for(element.path)%>"><%=element.name%></a>
        </div>
    <%})%>
</div>
