<% if (page.comments && theme.comment.use) { %>
    <div id="comment" class="mdui-card mdui-p-a-2 mdui-m-b-5">
      <div class="mdui-tab" mdui-tab>
        <% for(element in theme.comment.use) { %>
          <a href="#comment-tab<%=element%>" class="mdui-ripple"><%=theme.comment.use[element]%></a>
        <% } %>
      </div>
      <% for(element in theme.comment.use) { %>
        <div id="comment-tab<%=element%>" class="mdui-p-a-2">
          <%- partial('_plugin/comment/' + theme.comment.use[element]) %>
        </div>
      <% } %>
    </div>
<% } %>