<% if (postpage.tags && postpage.tags.length) { %>
  <div class="post-tags">
    <% postpage.tags.data.forEach(function(element) { %>
      <i class="iconfont icon-tag">
        <a rel="tag" href = <%-url_for(element.path)%> ><%- element.name %></a>
      </i>
    <% }) %>
  </div>
<%} else if (is_home()) {%>
  <div class="tag-line-space"></div>
<% } %>