/*Color Var 颜色变量*/
//背景颜色
background-body = #d4dcd6
background-card = #fff
//辅助色
primary-accent-color = #009688
sub-accent-color = #4CAF50

/*Background Color 背景颜色*/
body{
  background: background-body;
}

.mdui-card{
  background: background-card;
}

h1{
  font-size: 1.75em !important;
}
h2{
  font-size: 1.5em !important;
}

/*表格边框*/
table{
  border-collapse: collapse;
}
tr td,th{
  border:1px solid #444;
}

/*Dark Mode*/
.mdui-theme-layout-dark{
  & #footer{
    background: #212121;
  }
}

/* 页脚位置响应 */
html{
  height:100%;
}

main{
  min-height: calc(100% - 2 * 40px - 75px - 1.5 * 32px);
}

@media screen and (min-width:1024px) {
  body{
    height: calc(100% - 64px);
  }
}
@media screen and (min-width:600px) and (max-width:1023px) {
  body{
    height: calc(100% - 64px);
  }
}
@media screen and (max-width:599px) {
  body{
    height: calc(100% - 56px);
  }
}


/* Paginator Style 底部导航栏*/
.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  & a, & span {
    transition: background-color .3s;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    &:visited, &:link {
      color: unset;
    }
  }
  & .current {
    background-color: sub-accent-color;
    color: white;
  }
  & a:hover:not(.current) {
    background-color: white;
  }
}

/* 按钮图标尺寸 */
//浮动按钮
.mdui-fab .iconfont{
  font-size: 24px;
}
//图标按钮
.mdui-btn-icon .iconfont{
  font-size: 24px;
}
/*横向滚动条*/
.math-fluid{
  overflow-x: auto;
}
.mermaid{
  overflow-x: auto;
}

@import "_partial/highlight"
@import "_partial/post"
@import "_partial/page"
@import "_partial/sidebar"
@import "_partial/search"