/*Color Var 颜色变量*/
//背景颜色
background-body = #d4dcd6//#e9e7ef //#d4dcd6
background-card = #fff
//辅助色
primary-accent-color = #009688
sub-accent-color = #4CAF50

/*Dark Mode*/
.mdui-theme-layout-dark{
  & #footer{
    background: #212121;
  }
}

/*Background Color 背景颜色*/
html{
  height: 100%;
}

body{
  background: background-body;
  height: calc(100% - 64px);
}

main{
  min-height: 75%
}

.mdui-card{
  background: background-card;
}

/* Paginator Style 底部导航栏*/
.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
  & a, & span {
    transition: background-color .3s;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    &:visited, &:link {
      color: unset;
    }
  }
  & .current {
    background-color: sub-accent-color;
    color: white;
  }
  & a:hover:not(.current) {
    background-color: #ddd;
  }
}

/*Google Adsense*/
.adsense-contain{
  margin: 10px;
}


@import "_partial/highlight"
@import "_partial/post"
@import "_partial/page"
@import "_partial/sidebar"
@import "_partial/search"