<% if (page.total > 1) { %>
  <nav style="text-align: center;">
    <div class="pagination">
      <%- paginator({
        prev_text: '<i class="iconfont icon-angle-left"></i>',
        next_text: '<i class="iconfont icon-angle-right"></i>',
        escape: false
      })%>
    </div>
  </nav>
<%}%>