/*Posts Collapse 时间轴*/
.posts-collapse {
    position: relative;
    z-index: 100;
    margin-left: 55px;
    &::after {
        content: " ";
        position: absolute;
        top: 20px;
        left: 0;
        margin-left: -2px;
        width: 4px;
        height: 100%;
        background: #f5f5f5;
        z-index: -1;
    }
    & .collection-title {
        position: relative;
        margin: 60px 0;
        &::before {
            content: " ";
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: -4px;
            margin-top: -4px;
            width: 8px;
            height: 8px;
            background: #bbb;
            border-radius: 50%;
        }
        & h1,& h2 {
            margin-left: 20px;
        }
        & small {
            color: #bbb;
            margin-left: 5px;
        }
        &>a{
            text-decoration: none;
            &:visited, &:link {
                color: unset;
            }
        }
    } 
    & .collection-item {
        margin: 30px 0;
        position: relative;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        transition-property: border;
        border-bottom: 1px dashed #ccc;
        &::before {
            content: " ";
            position: absolute;
            left: 0;
            top: 12px;
            width: 6px;
            height: 6px;
            margin-left: -4px;
            background: #bbb;
            border-radius: 50%;
            border: 1px solid #fff;
            transition-duration: 0.2s;
            transition-timing-function: ease-in-out;
            transition-delay: 0s;
            transition-property: background;
        }
        &:hover {
            border-bottom-color: #666;
            &::before {
                background: #222;
            }
        }
        & h3 {
            padding: 8px;
            margin-left: 90px;
            font-size: 16px;
            font-weight: normal;
            line-height: inherit;
            &::after {
                margin-left: 3px;
                opacity: 0.6;
            }
            & a {   
                color: #666;
                border-bottom: none;
                text-decoration: none;
            }
        }
        & time {
            position: absolute;
            font-size: 12px;
            left: 20px;
            top: 11px;
        } 
    }
}

@media (max-width: 767px) {
    .posts-collapse {
        margin: 0 20px;
    }
}

/*Tags Chip 标签页纸片*/
.tags-contain{
    margin: 20px 60px;
    padding: 0;
    & .tags-chip{
        margin: 10px 10px;
        &>a{
            text-decoration: none;
            &:visited, &:link {
                color: unset;
            }
        }
    }
}

/*Page Describe 页面描述*/
.page-describe{
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

/*Category List 分类列表*/
.category-list {
    margin: 20px 60px;
    padding: 0;
    list-style: none;
    & .category-list-item {
        margin: 5px 10px;
        & .category-list-link{
            font-size: 16px;
            line-height: 32px;
            &:visited, &:link {
                color: unset;
            }
        }
    }
    & .category-list-count {
        color: #bbb;
        &::before {
            display: inline;
            content: " (";
        }
        &::after {
            display: inline;
            content: ") ";
        }
    }
    & .category-list-child {
        padding-left: 10px;
    }
}

/*Header Subtitle 页首副标题*/
.header-subtitle{
  margin: 0;
  font-size: 18px;
}

/*Google Adsense*/
.adsense-contain{
  margin: 10px;
}

/*Footer 页脚*/
#footer .mdui-row{
    margin: 5px 0;
    & a {
        &:visited, &:link {
            color: unset;
        }
    }
}