/*Tags Chip 标签页纸片*/
.tags-chip{
    &>a{
        text-decoration: none;
        &:visited, &:link {
            color: unset
        }
    }
}

/*Page Describe 页面描述*/
.page-describe{
    text-align: center;
}