/* ReadMore 阅读更多按钮*/
.post-readmore{
    border: 2px solid sub-accent-color;
    &:hover {
    background-color: sub-accent-color;
    color: white;
    }
}

/*Post Header*/
.post-header{
    text-align:center;
    position: relative;
    padding: 40px 16px 0px 32px;
    .mdui-card-media-covered &{
        padding: 24px;
    }
    & .post-header-title {
        text-decoration: none;
        display: block;
        font-size: 28px;
        line-height: 42px;
        opacity: .87;
        &:visited, &:link {
            color: unset
        }
    }
    .post-header-meta{
        display: block;
        font-size: 14px;
        line-height: 24px;
        opacity: .54;
        &>span+span::before{
            content: "|";
            margin: 0 0.5em;
        }
        &>span>i{
            margin: 0 0.5em 0 0;
        }
        & a:visited, & a:link {
            color: unset
        }
    }
}

/*Post Tags*/
.post-tags {
    display:inline-flex;
    position: relative; 
    left: 0px;
    height: 0;
    font-weight: bold;
    color: #fff;
    border: 15px solid primary-accent-color;
    border-right-color: transparent;
    box-shadow: 0 5px 5px -5px #000;
    margin: 5px 0 5px 0;
    &>i{
        align-self: center;
        margin: 0 10px 0 0;
        &>a{
            text-decoration: none;
            &:visited, &:link {
                color: unset
            }
        }
    }
}

/*Post Nav*/
.post-nav-item{
    padding: 10px 0 0 0;
    width: 45%;
    position: relative;
    display: block;
    line-height: 25px;
    font-size: 14px;
    color: #555;
    border-bottom: none;
    text-decoration: none;
    &:hover {
        color: #222;
        border-bottom: none;
    }
    &:active {
        top: 2px;
    }
    &.mdui-float-left{
        text-align: left;
        padding-left: 5px;
    }
    &.mdui-float-right{
        text-align: right;
        padding-right: 5px;
    }
    &.mdui-float-right .fa{
        font-size: 12px;
        margin-right: 5px;
    }
    &.mdui-float-left .fa{
        font-size: 12px;
        margin-left: 5px;
    }
}

/* TOC */
.toc-button{
    position: fixed;
    right: 24px; 
    top: 60%;
    height: 100%;
    & #toc{
        top: -45% !important;
        max-height: 80%;
    }
}

#toc-header {
    display: block;
    height: unset;
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    opacity: .87;
}

.toc{
    padding: 0 20px;
    margin: 10px 0;
    text-align: left;
    list-style: none;
    font-size: 14px;
    & a{
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        transition-property: all;
        color: #666;
        border-bottom-color: #ccc;
        &:visited, &:link {
            color: unset
        }
        &:hover {
            color: #000;
            border-bottom-color: #000;
        }
    }
    & .toc-item {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 1.8;
        opacity: .87;
        &.toc-level-1{
            opacity: .95;
        }
    }
    & ol{
        margin: 0;
        padding: 0 2px 5px 10px;
        text-align: left;
        list-style: none;
        font-size: 14px;
    }
    & ol > ol {
        padding-left: 0;
    }
}

#achieve-abstract{
    padding-bottom: 24px;
    padding-top: 0px;
}

.tag-line-space{
    padding: 15px; 
}

#article .mdui-card-content{
    font-size: 16px;
}

/*Post Abstract*/
.mdui-card-content .post-abstract{
    margin: 0 0 20px 0;
    font-size: 16px;
}