/* Search Style */
#search {
    min-height: 80%;
}

.search-form {
    width: 100%;
    height: 50px;
    background-color: primary-accent-color;
}

.search-form-input {
    width: calc(100% - 32px);
    height: calc(100% - 16px);
    margin: 8px 16px;
    padding: 0 8px;
    border: none;
    outline: none;
    font-size: 15px;
    line-height: normal;
    border-radius: 2px;
    color: #fff;
    background: rgba(255, 255, 255, .15);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1);
    -o-transition: all .2s cubic-bezier(.4, 0, .2, 1);
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
    &:hover {
        background: rgba(255, 255, 255, .3);
    }
    &:focus {
        color: rgba(0, 0, 0, .87);
        background: #fff;
    }
}

.search-form-submit {
    display: none !important;
}

.search-result {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
}

.search-result-list {
    width: 80%;
    padding: 16px 10%;
    word-break: break-all;
    &>li {
        list-style: none;
        margin-bottom: 24px;
        border-bottom: 1px solid rgba(0, 0, 0, .12);
        &:last-child {
            border-bottom: none;
        }
    }
}

.mdui-theme-layout-dark .search-result-list>li {
    border-color: rgba(255, 255, 255, .12);
}

.search-result-title {
    color: primary-accent-color;
    text-decoration: none;
    &:hover,&:focus {
        border-bottom: 1px solid;
    }
}

.search-result-content {
    font-size: 13px;
    color: #9e9e9e;
}

.search-result-keyword {
    font-style: normal;
    color: #fff;
    background: primary-accent-color;
}
