/*Sidebar 侧边栏*/
#sidebar {
  background-color: background-card
  overflow: hidden; //如需滚动条外置请删除此行与第81行
  & #sidebartab {
    width: 48%;
    min-width: unset;
  }
  &::-webkit-scrollbar {
    display:none
  }
}

.mdui-theme-layout-dark{
  & #sidebar{
    background: #212121;
  }
}

/*Sidebar Avatar 侧边栏头像*/    
.sidebar-overview{
  & .sidebar-avatar{
    display: block;
    margin:0 auto;
    max-width: 60%;
    height: auto;
    &>img{  
      width: auto;  
      height: auto;  
      max-width: 100%;  
      max-height: 100%;  
      border: 1px solid #eee;   
    } 
  }
  & .sidebar-author-name {
    margin: 0;
    text-align: center;
    color: #222;
    font-size: 16px;
    line-height: 32px;
    font-weight: 600;
  }
  & .sidebar-description {
    white-space: normal;
    margin-top: 0;
    text-align: center;
    font-size: 14px;
    color: #999;
  }
}

/*Sidebar Links*/
.sidebar-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  & .mdui-chip{
    margin: 5px;
    &>a{
      padding-left: 6px;
      text-decoration: none;
      &:visited, &:link {
        color: unset;
      }
    }
  }
}

/*Sidebar Iconfont*/
.mdui-list-item-icon .iconfont{
  font-size: 24px;
}

.mdui-chip .mdui-chip-icon .iconfont{
  font-size: 22px;
}

/*Links List*/
#linksList {
  overflow-y: auto; //如需滚动条外置请删除此行与第4行
  max-height: calc(100vh - 414px);
  &::-webkit-scrollbar {
    display:none
  }
}
